.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.titulo {
  font-size: 36px;
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card {
  max-width: 400px;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  margin-bottom: 20px;
}

.preco {
  font-size: 36px;
  margin-bottom: 20px;
}

.recursos {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.recursos li {
  margin-bottom: 5px;
}

.botao {
  background-color: #0057ff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.botao:hover {
  background-color: #0041ad;
}
